body {
    font-family: 'Arial', sans-serif;
    background: url("../images/what-we-offer-background.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
}

h1 {
    text-align: center;
}

.section {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.section p {
    font-size: 1.2em;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    color: #333;
    text-decoration: none;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.pagination a:hover {
    background-color: #ddd;
}

footer {
    background-color: black;
    color: white;
    text-align: right;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
}