<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <link rel="stylesheet" th:href="@{/css/CreateUser.css}" href="../static/css/CreateUser.css"/>
    <link th:insert="~{fragments :: tab-icon}">
</head>
<body>
<header>
    <div th:insert="~{fragments :: tab-bar}"></div>
</header>

<div class="container">
    <h1>Create User</h1>
    <form th:action="@{/users/create}" th:object="${newUser}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" required/>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>
        <div>
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" id="phoneNumber" th:field="*{phoneNumber}" required/>
            <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
        </div>
        <div class="form-group">
            <label for="isEmployee">Employee:</label>
            <input type="checkbox" id="isEmployee" th:field="*{employee}" class="large-checkbox"/>
        </div>
        <div>
            <button type="submit">Create User</button>
        </div>
    </form>
</div>

<footer th:insert="~{fragments :: footer}"></footer>
</body>
</html>