<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgotten Password</title>
    <link rel="stylesheet" th:href="@{/css/ForgottenPassword.css}" href="../static/css/ForgottenPassword.css"/>
    <link th:insert="~{fragments :: tab-icon}">
</head>
<body>
<header>
    <div th:insert="~{fragments :: tab-bar}"></div>
</header>

<div class="forgotten-password-frame">
    <h1>Forgotten Password</h1>
    <form th:action="@{/users/forgotten-password}" method="post" th:object="${emailDto}">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required/>
            <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

<footer th:insert="~{fragments :: footer}"></footer>
</body>
</html>