<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
    <link th:fragment="tab-icon" rel="icon" type="image/x-icon" th:href="@{/images/logo.jpg}" href="../static/images/logo.jpg"/>
</head>
<body>
<div th:fragment="tab-bar">
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/parts}">What we offer</a></li>
            <li><a th:href="@{/about}">About</a></li>
            <li><a th:if="${isAuthenticated && session.isEmployee}" th:href="@{/employee-panel}">Employee Panel</a></li>
            <li><a th:if="${isAuthenticated && !session.isEmployee}" th:href="@{/users/{id}/view(id=${currentUser.id})}">Client Panel</a></li>
            <li><a th:if="${!isAuthenticated}" th:href="@{/auth/login}" href="#">Login</a></li>
            <li><a th:if="${isAuthenticated}" th:href="@{/auth/logout}" href="#">Logout</a></li>
        </ul>
    </nav>
</div>

<footer th:fragment="footer">
    <small>©️ Copyright 2024, Silver Star</small>
</footer>
</body>
</html>