<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
<div th:fragment="tab-bar">
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/services}">What we offer</a></li>
            <li><a th:href="@{/about}">About</a></li>
        </ul>
    </nav>
</div>

<footer th:fragment="footer">
    <small>©️ Copyright 2024, Silver Star</small>
</footer>
</body>
</html>