<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" href="../static/css/home.css"/>
    <link th:insert="~{fragments :: tab-icon}">
</head>
<body>
<header>
    <div th:insert="~{fragments :: tab-bar}"></div>
</header>

<div class="hero">
    <h1>Welcome to Silver Star</h1>
    <p>The reliable partner for all your travels.</p>
    <p>We create customized solutions to make dreams come true in a place that feels like one!</p>
</div>
<div class="video-background">
    <iframe src="https://www.youtube.com/embed/8RLBJVB0ll4?autoplay=1&mute=1&loop=1&playlist=8RLBJVB0ll4&start=0&end=35"
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div class="content">
    <section class="section">
        <h2>Our Services</h2>
        <p>Our car service management system offers comprehensive vehicle care, including routine maintenance,
            repair services, and bodywork. We handle everything from oil changes and brake inspections
            to engine diagnostics and custom upgrades. Trust us for efficient diagnostics, repairs,
            and inspections to keep your car running smoothly.</p>
    </section>
    <section class="section">
        <h2>Find Us</h2>
        <p>smart_garage_dp@abv.bg</p>
    </section>
</div>

<footer th:insert="~{fragments :: footer}"></footer>
</body>
</html>